.logo {
    border-right: 2px solid black;
}

.logo > img {
    width: 402px;
    height: 54px;
}

.tagline {
    color: #333743;
}

.img-text {
    position: relative;
}
.learn-more {
    position: absolute;
    bottom: 0;
}

/* Mobile */
@media (min-width: 300px) and (max-width: 900px) {
    .img-text {
        font-size: 14px;
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    .img-text {
        padding: 45px;
    }
    
    .bg-img {
        display: none;
    }
}
