/*SECTION*/
.section{
    min-height: 100px;
}

/*NAV BAR*/
.nav{
    color: white;
    padding: 30px 5%;
    /*position: absolute;*/
    z-index: 99;
}
.nav img{
    height: 40px;
}
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li {
    font-size: 1.2em;
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid #888;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    text-transform: uppercase;
}
.nav a {
    text-decoration: none;
    color: white;
    display: block;
}
.nav li:hover {
    background-color: transparent;
}
.nav li:hover a {
    text-decoration: line-through;
}
.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
    text-decoration: line-through;
}
.nav .active:hover{
    border: 1px solid white;
}
.nav-mobile-container {
    background-color: #5846e2;
}
.nav-mobile-container img {
    max-width: 80%;
    height: 50px;
}
.nav-toggle {
    width: 50px;
    height: 50px;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    /*display: block;*/

    background: #5846e2 url("../images/menu.png") no-repeat 50% 33%;
    background-size: cover;
}
.nav .links {
    color: white;
}
.nav li {
    padding: 0 20px;
    border-bottom: none;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
}
.nav li {
    display: inline-block;
    margin-right: -4px;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
.nav .active{
    background-color: #fff;
    border: 1px solid white;
    border-radius: 20px;
}
.nav .active a{
    color: #2199e8;
}

/*FOOTER*/
.footer{
    background-color: #333743;
    color: white;
    padding: 5rem;
    margin-top: 5vw;
}
.footer .nav{
    padding-top: 0;
}
.footer .nav .active a{
    color: #2B364F;
}

/*COMMON ELEMENTS*/
body{
    font-family: 'Geomanist', sans-serif;
}
p{
    font-family: 'Merriweather', serif;
    color: #9297a3;
    line-height: 1.94;
}
div{
    background-size: cover;
    background-position: center;
}
.hero{
    background-size: cover;
    background-attachment: fixed;
    min-height: 60vw;
}
.headline{
    font-family: 'Geomanist Book', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.05;
    margin-bottom: 20px;
    text-transform: uppercase;
}
@media screen and (max-width: 499px) {
    .headline{
        font-size: 2rem;
    }
}
.inline-block{
    display: inline-block;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.offset-images img{
    max-width: 100%;
}
.offset-left{
    margin-right: 100px;
}
.offset-right{
    margin-left: 100px;
}
.padded-top{
    padding-top: 3vw;
}
.padded-bottom{
    padding-bottom: 3vw;
}
.padded{
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.button{
    font-family: "Geomanist Medium", sans-serif;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-radius: 2.8px;
    background-color: #4990e2;
}
.no-gutter{
    max-width: none;
}
.header{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/*COMMON SECTIONS*/
.secure{
    font-family: "Geomanist Book", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: #9297a3;
}
.sotu{
    color: #9297a3;
    font-family: 'Merriweather', serif;
    font-size: 1.25rem;
}
.cutoff{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 30px;
    margin-left: -25px;
    font-weight: 200;
}