/*SECTION*/
.section{
    color: black;
    min-height: 100px;
}

/*NAV BAR*/
.nav{
    color: white;
    padding: 30px 5%;
    /*position: absolute;*/
    z-index: 99;
}
.nav img{
    height: 40px;
}
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li {
    font-size: 1.2em;
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid #888;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    text-transform: uppercase;
}
.nav a {
    text-decoration: none;
    color: white;
    display: block;
    -webkit-transition: .3s color;
    transition: .3s color;
}
.nav li:hover {
    background-color: transparent;
}
.nav li:hover a {
    text-decoration: line-through;
}
.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
.nav .active:hover{
    border: 1px solid white;
}
.nav-mobile-container {
    background-color: #5846e2;
}
.nav-mobile-container img {
    max-width: 80%;
    height: 50px;
}
.nav-toggle {
    width: 50px;
    height: 50px;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    /*display: block;*/

    background: #5846e2 url("../images/menu.png") no-repeat 50% 33%;
    background-size: cover;
}
.nav .links {
    color: white;
}
.nav .links li:hover a {
    color: white!important;
}
.nav li {
    padding: 0 25px;
    border-bottom: none;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
}
.nav li {
    display: inline-block;
    margin-right: -4px;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
.nav .active{
    background-color: #fff;
    border: 1px solid white;
    border-radius: 20px;
}
.nav .active a{
    color: #2199e8;
}

/*FOOTER*/
.footer{
    background-color: #333743;
    color: white;
    padding: 5rem;
    margin-top: 5vw;
}
.footer .nav{
    padding-top: 0;
}
.footer .nav .active a{
    color: #2B364F;
}

/*COMMON*/
body{
    font-family: 'Geomanist', sans-serif;
}
p{
    font-family: 'Merriweather', serif;
}
.inline-block{
    display: inline-block;
}
.right{
    text-align: right;
}
.offset-images img{
    max-width: 100%;
}
.offset-left{
    margin-right: 100px;
}
.offset-right{
    margin-left: 100px;
}
.padded-top{
    padding-top: 3vw;
}
.padded-bottom{
    padding-bottom: 3vw;
}
.padded{
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.button{
    font-family: "Geomanist", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2.8px;
    background-color: #4990e2;
}
.no-gutter{
    max-width: none;
}