body{
	color: black;
    font-weight: 300;
    background-image: url("../img/v-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content{
    padding: 7vw 3vw 20vw 3vw;
    max-width: none;
}
.hero{
    color: white;
	background-image: url('../img/hero.jpg');
	background-size: cover;
	background-attachment: initial;
	background-position: 50% 100%;
}
[type=email], [type=email]:focus, [type=text], [type=text]:focus{
    background-color: rgba(255, 255, 255, .3);
    color: white;
    display: inline-block;
    width: 200px;
    font-size: 12px;
	font-family: "Geomanist", sans-serif;
}

.email{
    border-radius: 0px 4px 4px 0px;
    margin-left: -5px;
}
.name{
    border-radius: 4px 0px 0px 4px;
}

.email, .name {
	border: none;
}
.signup-box{
    margin-bottom: 10px;
}
.button{
    margin: 0;
}
.subscribe-button{
    margin-bottom: 30px;
}
@media screen and (max-width: 499px) {
    .signup-box{
        display: none;
    }
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: white; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: white; }

input::placeholder,
textarea::placeholder {
  color: white; }

[type=email]::placeholder, [type=email]::-webkit-input-placeholder {
    color: white;
}
.hero .headline{
    font-family: "Geomanist", sans-serif;
}
.sub-hero{
    padding: 4vw;
    font-family: 'Merriweather', serif;
    color: #9297a3;
}
.why .image-block{
    min-height: 200px;
}
.carrot img{
    max-width: 50px;
    margin-bottom: 50px;
}
.logo-overlap{
		position: relative;
        margin-bottom: -50px;
		z-index: 3;
}
.img-text{
    padding: 10vw 10vw;
}
.img-text p{
    color: #9297a3;
}
p.kicker{
    color: #4a4a4a
}
.section div{
    background-size: cover;
    background-position: center;
}
.offer{
    padding: 5vw 0;
}
.offer img{
    padding-bottom: 50px;
    border-bottom: 5px solid #dfdfdf;
}
.wellness-as{
    padding: 50px 20px;
    font-weight: 500;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #9297a3;
}
.offer-right{
    padding: 0px 10vw;
    font-family: 'Merriweather', serif;
    color: #9297a3;
}
.DARR{
    text-transform: uppercase;
    font-size: 3rem;
    color: #9297a3;
	font-family: "Geomanist Book", sans-serif;
}
.DARR-detail{
    padding: 5vw;
}
.DARR-content{
    border-right: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
    padding: 20px 50px;
    font-family: "Merriweather", serif;
    color: #9297a3;
}
.learn-more {
	margin-top: 45px;
}
.learn-more img {
	width: 51px;
	height: 37px;
}

/* CSS Utilities */
.flex {
	display: flex;
}
.ml4 {
	margin-left: 48px;
}
@media screen and (max-width: 499px) {
    .ml4 {
        margin-left: 0px;
    }
    .DARR-detail .row{
        margin-top: 50px;
    }
}
